/*#####################
 * トップページの設定
 * 2017/3/10
 *#####################
 */

/* 全体の設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}
h1 {
    padding: 24px;
    border-bottom: 3px solid #77ae52;
    font-size: 3em;
    display: inline-block;
}
h2 {margin-bottom: 15px; font-weight: 500;}

a {
    color: #77ae52;
    font-weight: 600;
    text-decoration: none;
}

html,body {
    background: #f1f1f1;
    font-family: "Varela Round",sans-serif;
    color: #34302d;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.wapper {
    margin: 0;
}

.header {
    height: 6em;
    padding: 0 6em;
    background: #34302d;
    color: #fefefe;
}

.header img {
    width: 16px;
    margin-right: 3px;
    vertical-align: middle;
}

.main {
    margin: 3em auto;
    padding-bottom: 6em;
    max-width: 1024px;
}

.main:after {
    position: relative;
    content: "";
    display: block;
    clear: both;
}

.fluid-box-left {
    width: 67%;
    padding-right: 40px;
    float:left;
}

.fluid-box-left p {
    margin-bottom: 40px;
}

.fluid-box-right {
    width: 32%;
    float: right;
}

.fluid-box-right h2 {
    margin-top: 2em;
}

.entry {
    padding: 1em 0;
}

.box-title {
    padding: 1em;
    border: 1px solid #34302d;
    border-bottom: none;
}

.count-container {
    padding: 1em;
    border: 1px solid #34302d;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6em;
    padding: 1em 2em;
    background: #34302d;
    clear: both;
    color: #fefefe;
}

.copyright {
    text-align: right;
}


/* ▼詳細パーツ▼  */
pre {
    margin-bottom: 1.5em;
    padding: 1em 1.5em;
    background: #f5f5f5;
    border: 1px solid #9896a2;
    font-family: "Meiryo UI";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

/* ▼Table▼ */
.count-container table {
    width: 100%;
    margin: 0 auto;
    font-size: 0.8em;
}
.count-container th {
    margin: 0 1em;
}

/* List */
.list {
    margin-bottom: 2em;
}

.list ul {
    margin-left: 2em;
}

/* ▼登録フォーム▼ */
.login-form {
    margin-bottom: 20px;
    text-align: center;
}

input {
    border: none;
}

/*
 * EntryFormの設定
 */
.entry-form th,td {
    padding: 1em;
}

.entry-form button {
    padding: 8px 21px;
    border-radius: 5px;
}

.entry-form input {
    width: 250px;
    padding: 3px;
    background: #f1f1f1;
    border-bottom: 1px dotted #34302d;
}